# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Environment / Secrets
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Certificates / Private Keys
# ==========================================
*.pem
*.key

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.temp.DS_Store
